<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Posts</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<main id="posts">
    <article th:each="p : ${allPosts}">
        <h2 class="title" th:text="${p.title}"></h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}"></span>
            <span th:if="${p.author}" th:remove="tag">
                    <i>by</i> <span th:text="${p.author.fullName != null ?
                        p.author.fullName : p.author.username}"></span>
                </span>
        </div>
        <p class="content" th:utext="${p.body}"></p>
    </article>
</main>

<footer th:replace="layout :: site-footer" />
</body>

</html>

